{
  "proseWrap": "preserve",
  "markdown": {
    "listItemIndent": "one"
  },
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "parser": "markdown",
        "printWidth": 120,
        "tabWidth": 4,
        "embeddedLanguageFormatting": "off",
        "singleQuote": false,
        "bracketSpacing": false,
        "useTabs": false,
        "htmlWhitespaceSensitivity": "css",
        "proseWrap": "preserve",
        "requirePragma": false,
        "insertPragma": false
      }
    }
  ]
} 